// font size variables

$font-size-XXXL = 32px
$font-size-XXL = 28px
$font-size-XL = 24px
$font-size-L = 20px
$font-size-M = 16px
$font-size-M-K2 = 15px
$font-size-S = 14px
$font-size-S-K2 = 13px
$font-size-XS = 12px
$font-size-XS-K2 = 11px
$font-size-XXS = 10px

//font family
fn-font-family()
  font-family: "Helvetica Nenue", Helvetica, Arial, "Microsoft YaHei", sans-serif

$font-family-glyphicons = "Glyphicons Halflings"

// color varibles
$color-blue-1 = #97d3f9
$color-blue-2 = #56b7f1
$color-blue-3 = #dff1ff
$color-blue-4 = #4a4a4a;
$color-blue-5 = #3ba5d3;
$color-blue-6 = #1890ff;
$color-dark-blue-0 = #45536f
$color-dark-blue-1 = #5487bb
$color-dark-blue-2 = #2b5992
$color-high-blue = #2e6da4
$color-primary-blue = #3477cc
$color-secondary-blue = #388ac7
$color-light-blue = #99ccf4
$color-light-blue-1 = #ebf7ff
$color-light-blue-2 = #5cc2dd
$color-rare-black = #666
$color-light-black = #333
$color-black = #000
$color-dark = #3e3e3e
$color-dark-1 = #585d61
$color-gray = #999
$color-gray-1 = #ccc
$color-gray-2 = #989898
$color-gray-3 = #c9c9c9
$color-gray-4 = #e1e1e1
$color-gray-5 = #828b9e
$color-gray-6 = #dfdfdf
$color-gray-7 = #9a9a9a
$color-gray-8 = #eeeeee
$color-gray-9 = #d8d8d8
$color-gray-10 = #868686
$color-gray-11 = #d1d1d1
$color-gray-12 = #707070
$color-gray-13 = #ddd
$color-gray-14 = #e8e8e8
$color-gray-15 = #f8f8f8
$color-gray-16 = #e0e0e0
$color-gray-17 = #f6f6f6
$color-light-gray-X = #e7e7e7
$color-light-gray = #f2f2f2
$color-light-gray-1 = #f3f3f3
$color-rare-gray = #f7f7f7
$color-rare-gray-X = #fefefe
$color-white = #fff
$color-orange = #f0ad4e
$color-red = #c33f40
$color-red-1 = #d0021b
$color-red-2 = #d13f40
$color-red-3 = #ea6668;
$color-green = #4cae4c
$color-green1 = #72b536
$color-green2 = #15a89b
$color-green3 = #63b40a
$color-green-4 = #86c440;
$color-yellow-1 = #ffe97e
$color-yellow-2 = #ffd733
$color-yellow-3 = #fff6d5
$color-yellow-4 = #fffced
$color-yellow-5 = #ffb933;
$color-yellow-6 = #f3d841;
$color-dark-yellow-1 = #b89029
$color-dark-yellow-2 = #875400
$color-orange = #f17317
$color-orange-1 = #fff7f3
$color-orange-2 = #fd5e0f
$color-orange-3 = #faad14;
